### idea
.idea/
*.iml
*.log
*.log.*
*.class
*/target/*

### sts
.settings
.classpath
.project

### maven
zhuoyue-common/target/
zhuoyue-discovery/target/
zhuoyue-auth/target/
zhuoyue-api/target/
zhuoyue-ui/target/
zhuoyue-manage/target/
zhuoyue-admin/target/
zhuoyue-gateway/target/
zhuoyue-config/target/
zhuoyue-article/target/
zhuoyue-book/target/
zhuoyue-comment/target/
zhuoyue-crawler/target/
zhuoyue-radio/target/
zhuoyue-rank/target/
zhuoyue-review/target/
zhuoyue-tag/target/
zhuoyue-user/target/

### node
npm-debug.log
zhuoyue-*/etc/
zhuoyue-*/node/
zhuoyue-*/node_modules/
### coverage
zhuoyue-*/coverage/
### dist
zhuoyue-*/src/main/resources/static/
